# Docker ignore file for UserApi
**/.classpath
**/.project
**/.settings
**/.vs
**/.vscode
**/.idea
**/*.*
!.dockerignore
!Dockerfile
!docker-compose*.yml
**/bin/**
**/obj/**
**/out/**
**/.vs/**
**/.vscode/**
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/*.dll
**/*.exe
**/*.pdb
**/*.cache
**/*.log
**/.DS_Store
**/README.md
**/LICENSE
**/.git
**/.gitignore
**/azure-pipelines.yml
**/.github/workflows/**
